{% extends 'base.html' %}
{% set title = '注册' %}
{% block main %}
{% from "macros.html" import page_header with context %}
{% page_header() %}
<form action="/register" method="post">
    {{ form.csrf.token }}
    <div class="form-group row mb-2">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <input id="email" type="email" name="email" class="col-sm-6 col-md-4 form-control" placeholder="Email" required>
    </div>
    <div class="form-group row mb-2">
        <label for="username" class="col-sm-2 col-form-label">用户名</label>
        <input id="username" type="text" name="username" class="col-sm-6 col-md-4 form-control" placeholder="用户名" required>
    </div>
    <div class="form-group row mb-2">
        <label for="display-name" class="col-sm-2 col-form-label">昵称</label>
        <input id="display-name" type="text" name="display_name" class="col-sm-6 col-md-4 form-control" placeholder="昵称" required>
    </div>
    <div class="form-group row mb-2">
        <label for="school" class="col-sm-2 col-form-label">学校</label>
        <input id="school" type="text" name="school" class="col-sm-6 col-md-4 form-control" placeholder="学校" required>
    </div>
    <div class="form-group row mb-2">
        <label for="password" class="col-sm-2 col-form-label">密码</label>
        <input id="password" type="password" name="password" class="col-sm-6 col-md-4 form-control" placeholder="密码" required>
    </div>
    <div class="form-group row mb-2">
        <label for="confirm-password" class="col-sm-2 col-form-label">确认密码</label>
        <input id="confirm-password" type="password" name="confirm_password" class="col-sm-6 col-md-4 form-control" placeholder="确认密码" required>
    </div>
    <div class="form-row col">
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</form>
{% endblock %}
{% block script %}
<script>
    function checkPassword() {
        var password = $('#password');
        var confirmPassword = $('#confirm-password');
        var message = '';
        if (password.val() != confirmPassword.val()) {
            message = '两次输入的密码不匹配';
        }
        confirmPassword[0].setCustomValidity(message);
    }
    $('#password').change(checkPassword);
    $('#confirm-password').keyup(checkPassword);
</script>
{% endblock %}